html {
  box-sizing: html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  max-width: 2500px;
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Times New Roman', serif
}

h2 {
  font-size: 3em;
  color: #ED1C24;
}

img {
  width: 100%;
}

.logo {
  width: 200px;
  margin: 0 auto;
  position: relative;
  left: 18%;
}

nav {
  background-color: #000;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 7;
}


nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 2em 0;
}

nav ul li {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  height: 100%;
  padding: 10px;
  color: #000;
  background-color: #fff;
}


.banner_wrapper {
  max-width: 100%;
  
}

article {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#join-now {
  text-align: center;
  align-content: center;
}

.contact {
  margin: 2rem;
}

.contact img {
  max-width: 5%;
}

.contact p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}



footer {
  color: white;
  background-color: black;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  font-size: .8em;
}

.logo-footer {
  width:50px;
  margin: 0;
}
